In [5]:
import pandas as pd
import numpy as np
from datetime import datetime
import random
import matplotlib.pyplot as plt

In [13]:
df.to_csv("systhetic_data_3.csv",index=False)

In [ ]:
df = pd.read_csv('systhetic_data_1.csv',index_col=0)
df.index.asfreq='H'

GEOJSON for heatmap

In [14]:
#total cars = 82(approx)

clusters ={
    #'Cn':[latitude,longitude,weight]
    'C1': [15.292333,73.969184, 10], #4
    'C2': [15.292329, 73.969090, 9], #4
    'C3': [15.292245, 73.969168, 8], #4
    'C4': [15.292235, 73.969087, 7], #4
    'C5': [15.292330, 73.969001, 6], #3
    'C6': [15.292225, 73.969000, 5], #3
    'C7': [15.292169, 73.969181, 15], #4
    'C8': [15.292156, 73.969079, 15], #4
    'C9': [15.292149, 73.968990, 13], #3
    'C10': [15.292065, 73.969104, 20], #4
    'C11': [15.291970, 73.969113, 20], #5
    'C12': [15.291878, 73.969121, 20], #4
    'C13': [15.292033, 73.969016, 18], #4
    'C14': [15.291882, 73.969017, 18], #3
    'C15': [15.291705, 73.969026, 10], #4
    'C16': [15.291638, 73.969108, 13], #3
    'C17': [15.291568, 73.969103, 13], #4
    'C18': [15.291559, 73.969015, 12], #4
    'C19': [15.291612, 73.968922, 12], #5
    'C20': [15.291615, 73.969217, 5], #6
    'C21': [15.291612, 73.969386, 2] #3
    
}

columns = ['Date_Time','Cluster','Latitude','Longitude','Count']

df = pd.DataFrame(columns=columns)
df["Date_Time"]=pd.to_datetime(df["Date_Time"])

df_bytime = pd.DataFrame(columns=columns)
df_bytime["Date_Time"]=pd.to_datetime(df["Date_Time"])

In [15]:

m = 0
sd = 0

dt =0 

for w in range(6):
    dt+=1
    for t in range(23):
        if t >= 23 and t < 1:
            m = 15
            sd = 5
        elif t >= 1 and t < 8:
            m = 10
            sd = 5
        elif t >= 8 and t < 12:
            m = 150
            sd = 10
        elif t >= 12 and t < 14:
            m = 100
            sd = 10
        elif t >= 14 and t < 18:
            m = 100
            sd = 20
        elif t >= 18 and t < 21:
            m = 140
            sd = 20
        elif t >= 21 and t < 23:
            m = 80
            sd = 20

        if w >= 5:
            m += 20
        elif w > 3 and w < 5:
            m += 5

        count = int(np.random.normal(loc=m, scale=sd))
        dt_time = datetime(2022, 1, dt, t, 0, 0)
        # df.loc[len(df.index)] = [dt_time, count]

        for i in range(count):
            cluster_list = [cluster for cluster in clusters]
            weights = [clusters[cluster][2] for cluster in clusters]

            cluster = random.choices(cluster_list, weights=weights)[0]
            # count = int(np.random.normal(loc=10, scale=3))

            latitude = clusters[cluster][0]
            # print(latitude)
            longitude = clusters[cluster][1]
            # print(longitude)
            # dt_time = time(t,0,0)
            # df.loc[e]= [dt_time,clust,count]
            df.loc[len(df.index)] = [dt_time, cluster,latitude,longitude,1]

In [16]:
df.head()

            Date_Time Cluster   Latitude  Longitude  Count
0 2022-01-01 01:00:00     C14  15.291882  73.969017      1
1 2022-01-01 01:00:00      C6  15.292225  73.969000      1
2 2022-01-01 01:00:00     C19  15.291612  73.968922      1
3 2022-01-01 01:00:00     C10  15.292065  73.969104      1
4 2022-01-01 01:00:00     C11  15.291970  73.969113      1

In [17]:
df.to_csv("systhetic_data_3.csv",index=False)

In [24]:
df_inport = pd.read_csv("systhetic_data_2.csv",index_col=0,parse_dates=True)
df_inport.index.asfreq='H'

In [25]:
df_inport.head()

                    Cluster   Latitude  Longitude  Count
Date_Time
2022-03-01 01:00:00     C19  15.291612  73.968922      1
2022-03-01 01:00:00     C17  15.291568  73.969103      1
2022-03-01 01:00:00      C7  15.292169  73.969181      1
2022-03-01 01:00:00      C8  15.292156  73.969079      1
2022-03-01 01:00:00      C7  15.292169  73.969181      1

In [22]:
df2 = df_inport.groupby(['Date_Time', 'Cluster'],as_index=False).agg({'Count': 'sum'})

In [23]:
df2.head()

  Cluster  Count
0      C1     18
1     C10     39
2     C11     44
3     C12     53
4     C13     40